
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>エディターサンプル</title>
	<meta content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover" name="viewport" />
	<link rel="stylesheet" href="files/css/codemirror.min.css">
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script> -->
	<script src="files/js/jquery.min.js"></script>
	<script src="files/js/codemirror.js"></script>
	<!-- 言語に応じたjsファイルを読み込む -->
	<script src="files/js/javascript.min.js"></script>
	<!-- diff lib js -->
	<script src="files/js/difflib.js"></script>
	<script src="files/js/gitdiff.js"></script>
	<script src="files/js/file_tabs.js"></script>
	<script src="files/js/filelist.js"></script>
	<script src="files/js/get_url.js"></script>
	<script src="files/js/editor_init.js"></script>
	<script src="files/js/editor_codes.js"></script>
	<script src="files/js/search_modal.js"></script>
	<link rel="stylesheet" href="files/css/style.css">
	<!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->
</head>
<body>
<section id="modalLoadingArea" class="modalArea">
	<div id="modalLoadingBg" class="modalBg">
		<img src="files/image/loading_page.gif" id="loading-image">
	</div>
</section>
	<p>Editor　<a class="btn-submit" href="javascript:(display_search_modal())">検索する</a></p>
	<div class="file-editor-section">
		<div class="file-editor-folder-section">
			<h4 style="margin:10px">Folers</h4>
			<div id="file-editor-folder-inner-section">
			</div>
		</div>
		<div class="file-editor-content-section">
		<div id="file-editor-title">
			<div style="width:5%;float:left;margin-top:10px">
				　[ ]
			</div>
			<div id="file-editor-title-inner" style="width:95%;float:right;">
			</div>
		</div>
		<div style="border:1px solid rgba(170, 170, 170, .7);clear:both;">
<textarea id="file-editor" rows="100" cols="100">
</textarea>
		</div>
		</div>
	</div>
<script>

// file editor
// file folder section
// get_full_path 関係全般は、original_path 追加の必要あり。
// open_folder.ejs に 前読み込み少なめの Editor 追加する。
// 　→ 必要なら、全改定する。
// 
// より前に、Index

$('#modalLoadingArea').fadeIn();

var files_array    = [];
var files_indexed  = [];
var original_path;
var files_path     = "<%= index_page_file_name %>";
var file_info_path = "file_info?file_name=" + files_path;
var fileEditor;
var index_result_response;
var index_file_path = ".";
$.getJSON(file_info_path, function(json){
	// 
	files_array   = json["files"];
	files_indexed = json["files_indexed"];
	original_path = json["original_path"];
})
.then(function(){
	// fetch
	// index_file_path はマスクした方がいい
	update_file_index(index_file_path)
	.then(data => {
		index_result_response = data;
		console.log("indexing [" + index_file_path + "] file...");
	}).catch(error => {
		console.log(error);
		index_result_response = error;
	});
})
.then(function(){
	// 
	console.log(files_array, files_indexed);
	fileEditor = initialize_editor(files_array, files_indexed);
	$("#modalLoadingArea").fadeOut();
});

</script>

</body>
</html>