	<h3 style="margin-left:40%">gitdiff</h3>
	<div>
<!-- 		<div style="display: inline-block; width:12.5%;">
		</div> -->
		<div class="code-mirror-content">
			<h4>Before code</h4>
			<div class="code-mirror-content-inner">
				<textarea id="editor_js" rows="20" cols="50">
sendCmd = function(command) {
	// Send command over XHR for response and display
	xhr = parent.ICEcoder.xhrObj();
	xhr.onreadystatechange=function() {
		if (xhr.readyState==4) {
			// OK reponse?
			if (xhr.status==200) {
				</textarea>
			</div>
		</div>
		<div class="code-mirror-content">
			<h4>After code</h4>
			<div class="code-mirror-content-inner">
				<textarea id="editor_js1" rows="20" cols="50">
sendCmd = function(command) {
	// Send command over XHR for response and display
	xhr = parent.ICEcoder.xhrObj();
	xhr.onreadystatechange = function() {
		if (4 === xhr.readyState) {
			// OK reponse?
			if (200 === xhr.status) {
				// Set the output to also include our response and scroll down to bottom
				var newOutput = document.createElement("DIV");
				</textarea>
			</div>
		</div>
		<div class="code-mirror-content">
			<h4>Git Diff</h4>
			<div class="code-mirror-content-inner">
			<textarea id="editor_js2" rows="20" cols="50">
				
			</textarea>
		</div>
	</div>
	<br>
	<div>
	</div>
	<hr>
<script>
	// JSEditor
var jsEditor = CodeMirror.fromTextArea(document.getElementById('editor_js'), {
    mode: "javascript",
    lineNumbers: true,
    indentUnit: 4
});
var jsEditor1 = CodeMirror.fromTextArea(document.getElementById('editor_js1'), {
    mode: "javascript",
    lineNumbers: true,
    indentUnit: 4
});

before_editor  = document.getElementById("editor_js").innerText
after_editor   = document.getElementById("editor_js1").innerText
jsEditor2_array   = generate_git_diff_code(before_editor, after_editor);

jsEditor2 = jsEditor2_array[0];
gitdiff   = jsEditor2_array[1];

jsEditor.on("change", function(jseditor, change){
	onchange_update_jseditor2(jsEditor, jsEditor1, jsEditor2);
});

jsEditor1.on("change", function(jseditor, change){
	onchange_update_jseditor2(jsEditor, jsEditor1, jsEditor2);
});
</script>